**checkpoint.ipyn**
**checkpoint**
**checkpoint.ipy**
**pycache**
**.pyc

.vscode/settings.json
**settings.json**
bioinformatics.code-workspace

data/**/**.csv
data**.csv

gt_C.csv
gtTypes.csv
recordAttributes.csv

gtTypes**.csv
recordAttributes**.csv